{% extends "admin/base.html.twig" %}

{% block title %}
	{{ parent() }}
	Produits
{% endblock %}

{% block body %}
	<main>
		<a href="#" class="btn btn-warning">Ajouter un produit</a>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">{{ knp_pagination_sortable(products, '#', 'p.id') }}</th>
					<th scope="col">{{ knp_pagination_sortable(products, 'Produits', 'p.name') }}</th>
					<th scope="col">{{ knp_pagination_sortable(products, 'Date de mise à jour', 'p.updatedAt') }}</th>
					<th scope="col">Modifier</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom du produit</th>
					<th scope="col">Date de mise à jour</th>
					<th scope="col">Modifier</th>
					<th scope="col">Supprimer</th>
				</tr>
			</tfoot>
			<tbody class="table-group-divider">
				{% for product in products %}
					<tr>
						<th scope="row">{{ product.id}}</th>
						<td>{{ product.name}}</td>
						<td>{{ product.updatedAt|date('d/m/Y')}}</td>
						<td>
							<a href="" class="btn btn-primary">Modifier</a>
						</td>
						<td>
							<a href="" class="btn btn-danger">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation mt-3">
			{{ knp_pagination_render(products) }}
		</div>
	</main>
{% endblock %}
